# Tratamento e exportação do csv final
Neste notebook, o csv com os dados referentes ao estado de São Paulo será tratado para chegar na base de dados final para o projeto final

In [1]:
# importando o pandas
import pandas as pd

In [2]:
# fazendo a leitura do csv
df = pd.read_csv("SP_INEP.csv", encoding="latin-1")
df

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,NOME_PAIS_CE,CO_UF_END,CO_MUNICIPIO_END,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
0,2020,F65A3DA6A6AEF9382AA8879D15EE490A,424505115,10,2014,5.0,6,2,1,3,AFEGANISTÃO,NaN,NaN,2,35086460,35,3509502,350950205.0,3
1,2020,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12.0,12,2,1,3,AFEGANISTÃO,NaN,NaN,20,35001478,35,3550308,355030810.0,2
2,2020,F3657B755F8F52584F767D4E1888A5C4,438759603,3,2016,4.0,4,2,1,3,AFEGANISTÃO,NaN,NaN,2,35097317,35,3534401,353440105.0,3
3,2020,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13.0,13,1,1,3,AFEGANISTÃO,35.0,x,20,35134673,35,3550308,355030893.0,4
4,2020,A0DFE4B45BE89C3383EE92F3312C4BDC,424506835,2,2015,5.0,5,2,2,3,AFEGANISTÃO,NaN,NaN,2,35086460,35,3509502,350950205.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32525,2020,FA0C3F55990095D5E6C2D2B9FDC13174,442744551,7,1972,47.0,48,2,0,3,VIETNÃ,NaN,NaN,40,35148805,35,3509502,350950205.0,4
32526,2020,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,15.0,16,1,4,3,VIETNÃ,NaN,NaN,26,35807813,35,3550308,355030890.0,4
32527,2020,F73A0548FB9C5AA5E902CA545B03FEAE,442744575,3,1981,39.0,39,2,0,3,VIETNÃ,NaN,NaN,40,35148805,35,3509502,350950205.0,4
32528,2020,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,27.0,28,1,1,3,ZÃMBIA,NaN,x,71,35003852,35,3550308,355030826.0,2
32529,2020,CAE3DF9B0297546377AA84BA5CEE5782,419126681,10,2003,16.0,17,2,2,3,ZÃMBIA,NaN,x,26,35004191,35,3510609,351060905.0,2

In [3]:
# vendo as informações básicas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32530 entries, 0 to 32529
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NU_ANO_CENSO         32530 non-null  int64
 1   ID_ALUNO             32530 non-null  object
 2   ID_MATRICULA         32530 non-null  int64
 3   NU_MES               32530 non-null  int64
 4   NU_ANO               32530 non-null  int64
 5   NU_IDADE_REFERENCIA  32530 non-null  float64
 6   NU_IDADE             32530 non-null  int64
 7   TP_SEXO              32530 non-null  int64
 8   TP_COR_RACA          32530 non-null  int64
 9   TP_NACIONALIDADE     32530 non-null  int64
 10  NOME_PAIS_CE         32530 non-null  object
 11  CO_UF_END            1091 non-null   float64
 12  CO_MUNICIPIO_END     1117 non-null   object
 13  TP_ETAPA_ENSINO      32530 non-null  int64
 14  CO_ENTIDADE          32530 non-null  int64
 15  CO_UF                32530 non-null  int64
 16  CO_MUNICIPIO         32530 non-null  int64
 17  CO_DISTRITO          32530 non-null  float64
 18  TP_DEPENDENCIA       32530 non-null  int64
dtypes: float64(3), int64(13), object(3)
memory usage: 4.7+ MB

# Guarulhos
Como moro em Guarulhos, fiquei curiosa para saber quantos estudantes migrantes internacionais estavam matriculados na cidade na época referente e gerei um dataframe

In [4]:
# Filtrando pelo codigo (int) da cidade
guarulhos = df.query("CO_MUNICIPIO in [3518800]")
guarulhos

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,NOME_PAIS_CE,CO_UF_END,CO_MUNICIPIO_END,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
56,2020,2A7F29F9C15B1FCA24D06996619B1A50,413746714,1,2002,18.0,18,2,5,3,ÃFRICA DO SUL,NaN,NaN,27,35923187,35,3518800,351880005.0,2
180,2020,4CBBA59E68337678F69479FE3828F7FC,442902285,11,2010,9.0,10,1,1,3,ALEMANHA,NaN,NaN,17,35133115,35,3518800,351880005.0,4
428,2020,03BA87E98B520CA6E802B9760D4B827C,419186429,6,2002,17.0,18,2,2,3,ANGOLA,NaN,NaN,27,35006348,35,3518800,351880005.0,2
475,2020,369C4526545252413B01265369A7D81A,419212437,4,2004,16.0,16,2,0,3,ANGOLA,NaN,NaN,25,35006440,35,3518800,351880005.0,2
591,2020,2FF563884EE76C87350B8F9C1985365A,442577841,1,2016,4.0,4,2,2,3,ANGOLA,35.0,3518800,2,35212738,35,3518800,351880005.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32390,2020,899D8814845C26E8D26C5CA4B9CFE484,443542000,7,2010,9.0,10,2,1,3,VENEZUELA,35.0,3518800,17,35130148,35,3518800,351880005.0,3
32401,2020,A20D42F42A060B438271CF73185B044A,442651859,7,2015,4.0,5,2,3,3,VENEZUELA,35.0,3518800,2,35085625,35,3518800,351880005.0,3
32425,2020,7754628748B4CC34B0E62018A2FB2B3B,419105167,9,2005,14.0,15,1,0,3,VENEZUELA,NaN,NaN,41,35039184,35,3518800,351880005.0,2
32485,2020,54169B6E1DF7CE2DE0315C0C10BE98B4,443540810,12,2015,4.0,5,2,1,3,VENEZUELA,35.0,3518800,2,35130138,35,3518800,351880005.0,3
32499,2020,4FA8E1492A2E6C735DA0EF0BDF7266B9,414268981,4,2005,15.0,15,1,0,3,VENEZUELA,NaN,NaN,25,35006075,35,3518800,351880005.0,2

# São Paulo
Busquei, também, os dados da cidade de São Paulo e escolhi continuar com esse dataframe por ser mais relevantes para outras pessoas pesquisadoras que possam necessitar dos dados analisados nesse projeto

In [5]:
# Filtrando pelo código da cidade
saopaulo = df.query("CO_MUNICIPIO in [3550308]")
saopaulo

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,NOME_PAIS_CE,CO_UF_END,CO_MUNICIPIO_END,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
1,2020,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12.0,12,2,1,3,AFEGANISTÃO,NaN,NaN,20,35001478,35,3550308,355030810.0,2
3,2020,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13.0,13,1,1,3,AFEGANISTÃO,35.0,x,20,35134673,35,3550308,355030893.0,4
5,2020,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18.0,18,1,1,3,AFEGANISTÃO,NaN,NaN,27,35001659,35,3550308,355030810.0,2
6,2020,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,2.0,3,1,3,3,AFEGANISTÃO,NaN,NaN,1,35195561,35,3550308,355030808.0,4
7,2020,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,16.0,17,1,3,3,AFEGANISTÃO,NaN,NaN,26,35001659,35,3550308,355030810.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32518,2020,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,8.0,9,2,1,3,VENEZUELA,NaN,NaN,17,35001582,35,3550308,355030808.0,2
32521,2020,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17.0,17,2,4,3,VIETNÃ,NaN,NaN,27,35807813,35,3550308,355030890.0,4
32524,2020,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10.0,10,2,3,3,VIETNÃ,NaN,NaN,18,35001478,35,3550308,355030810.0,2
32526,2020,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,15.0,16,1,4,3,VIETNÃ,NaN,NaN,26,35807813,35,3550308,355030890.0,4
32528,2020,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,27.0,28,1,1,3,ZÃMBIA,NaN,x,71,35003852,35,3550308,355030826.0,2

In [6]:
# removendo colunas que desde já foram colocadas como irrelevantes para a análise pretendida
columns_drop = ["NU_ANO_CENSO", "NU_IDADE_REFERENCIA", "TP_NACIONALIDADE", "CO_UF_END", "CO_MUNICIPIO_END"]
saopaulo = saopaulo.drop(columns_drop, axis=1)
saopaulo

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,TP_SEXO,TP_COR_RACA,NOME_PAIS_CE,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
1,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,2,1,AFEGANISTÃO,20,35001478,35,3550308,355030810.0,2
3,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,1,1,AFEGANISTÃO,20,35134673,35,3550308,355030893.0,4
5,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,1,1,AFEGANISTÃO,27,35001659,35,3550308,355030810.0,2
6,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,1,3,AFEGANISTÃO,1,35195561,35,3550308,355030808.0,4
7,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,1,3,AFEGANISTÃO,26,35001659,35,3550308,355030810.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32518,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,2,1,VENEZUELA,17,35001582,35,3550308,355030808.0,2
32521,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,2,4,VIETNÃ,27,35807813,35,3550308,355030890.0,4
32524,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,2,3,VIETNÃ,18,35001478,35,3550308,355030810.0,2
32526,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,1,4,VIETNÃ,26,35807813,35,3550308,355030890.0,4
32528,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,1,1,ZÃMBIA,71,35003852,35,3550308,355030826.0,2

In [7]:
# Ajustando o index, já que agora temos apenas dados da cidade de São Paulo
saopaulo = saopaulo.reset_index(drop=True)
saopaulo

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,TP_SEXO,TP_COR_RACA,NOME_PAIS_CE,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,2,1,AFEGANISTÃO,20,35001478,35,3550308,355030810.0,2
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,1,1,AFEGANISTÃO,20,35134673,35,3550308,355030893.0,4
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,1,1,AFEGANISTÃO,27,35001659,35,3550308,355030810.0,2
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,1,3,AFEGANISTÃO,1,35195561,35,3550308,355030808.0,4
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,1,3,AFEGANISTÃO,26,35001659,35,3550308,355030810.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,2,1,VENEZUELA,17,35001582,35,3550308,355030808.0,2
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,2,4,VIETNÃ,27,35807813,35,3550308,355030890.0,4
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,2,3,VIETNÃ,18,35001478,35,3550308,355030810.0,2
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,1,4,VIETNÃ,26,35807813,35,3550308,355030890.0,4
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,1,1,ZÃMBIA,71,35003852,35,3550308,355030826.0,2

In [8]:
# Verificando novamente as informaçoes basicas e dados nulos
saopaulo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18626 entries, 0 to 18625
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_ALUNO         18626 non-null  object
 1   ID_MATRICULA     18626 non-null  int64
 2   NU_MES           18626 non-null  int64
 3   NU_ANO           18626 non-null  int64
 4   NU_IDADE         18626 non-null  int64
 5   TP_SEXO          18626 non-null  int64
 6   TP_COR_RACA      18626 non-null  int64
 7   NOME_PAIS_CE     18626 non-null  object
 8   TP_ETAPA_ENSINO  18626 non-null  int64
 9   CO_ENTIDADE      18626 non-null  int64
 10  CO_UF            18626 non-null  int64
 11  CO_MUNICIPIO     18626 non-null  int64
 12  CO_DISTRITO      18626 non-null  float64
 13  TP_DEPENDENCIA   18626 non-null  int64
dtypes: float64(1), int64(11), object(2)
memory usage: 2.0+ MB

In [9]:
import numpy as np

In [10]:
# Traduzindo os valores referentes a genero a partir das informaçoes obtidas no dicionario do dataset do Portal de Imigraçao em uma nova coluna
saopaulo.loc[saopaulo["TP_SEXO"] == 1, "GENERO"] = "Masculino"
saopaulo.loc[saopaulo["TP_SEXO"] == 2, "GENERO"] = "Feminino"
saopaulo

C:\Users\rafae\AppData\Local\Temp\ipykernel_15936\1923075021.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Masculino' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  saopaulo.loc[saopaulo["TP_SEXO"] == 1, "GENERO"] = "Masculino"

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,TP_SEXO,TP_COR_RACA,NOME_PAIS_CE,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA,GENERO
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,2,1,AFEGANISTÃO,20,35001478,35,3550308,355030810.0,2,Feminino
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,1,1,AFEGANISTÃO,20,35134673,35,3550308,355030893.0,4,Masculino
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,1,1,AFEGANISTÃO,27,35001659,35,3550308,355030810.0,2,Masculino
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,1,3,AFEGANISTÃO,1,35195561,35,3550308,355030808.0,4,Masculino
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,1,3,AFEGANISTÃO,26,35001659,35,3550308,355030810.0,2,Masculino
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,2,1,VENEZUELA,17,35001582,35,3550308,355030808.0,2,Feminino
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,2,4,VIETNÃ,27,35807813,35,3550308,355030890.0,4,Feminino
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,2,3,VIETNÃ,18,35001478,35,3550308,355030810.0,2,Feminino
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,1,4,VIETNÃ,26,35807813,35,3550308,355030890.0,4,Masculino
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,1,1,ZÃMBIA,71,35003852,35,3550308,355030826.0,2,Masculino

In [11]:
# Traduzindo os valores referentes a cor e raça segundo o IBGE a partir das informaçoes obtidas no dicionario do dataset do Portal de Imigraçao em uma nova coluna
saopaulo.loc[saopaulo["TP_COR_RACA"] == 0, "RACA_IBGE"] = "NAO DECLARADA"
saopaulo.loc[saopaulo["TP_COR_RACA"] == 1, "RACA_IBGE"] = "BRANCA"
saopaulo.loc[saopaulo["TP_COR_RACA"] == 2, "RACA_IBGE"] = "PRETA"
saopaulo.loc[saopaulo["TP_COR_RACA"] == 3, "RACA_IBGE"] = "PARDA"
saopaulo.loc[saopaulo["TP_COR_RACA"] == 4, "RACA_IBGE"] = "AMARELA"
saopaulo.loc[saopaulo["TP_COR_RACA"] == 5, "RACA_IBGE"] = "INDIGENA"
saopaulo

C:\Users\rafae\AppData\Local\Temp\ipykernel_15936\1445237435.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NAO DECLARADA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  saopaulo.loc[saopaulo["TP_COR_RACA"] == 0, "RACA_IBGE"] = "NAO DECLARADA"

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,TP_SEXO,TP_COR_RACA,NOME_PAIS_CE,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA,GENERO,RACA_IBGE
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,2,1,AFEGANISTÃO,20,35001478,35,3550308,355030810.0,2,Feminino,BRANCA
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,1,1,AFEGANISTÃO,20,35134673,35,3550308,355030893.0,4,Masculino,BRANCA
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,1,1,AFEGANISTÃO,27,35001659,35,3550308,355030810.0,2,Masculino,BRANCA
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,1,3,AFEGANISTÃO,1,35195561,35,3550308,355030808.0,4,Masculino,PARDA
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,1,3,AFEGANISTÃO,26,35001659,35,3550308,355030810.0,2,Masculino,PARDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,2,1,VENEZUELA,17,35001582,35,3550308,355030808.0,2,Feminino,BRANCA
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,2,4,VIETNÃ,27,35807813,35,3550308,355030890.0,4,Feminino,AMARELA
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,2,3,VIETNÃ,18,35001478,35,3550308,355030810.0,2,Feminino,PARDA
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,1,4,VIETNÃ,26,35807813,35,3550308,355030890.0,4,Masculino,AMARELA
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,1,1,ZÃMBIA,71,35003852,35,3550308,355030826.0,2,Masculino,BRANCA

In [12]:
# Traduzindo os valores referentes ao tipo da instituiçao de ensino a partir das informaçoes obtidas no dicionario do dataset do Portal de Imigraçao em uma nova coluna
saopaulo.loc[saopaulo["TP_DEPENDENCIA"] == 1, "TIPO_ESCOLA"] = "FEDERAL"
saopaulo.loc[saopaulo["TP_DEPENDENCIA"] == 2, "TIPO_ESCOLA"] = "ESTADUAL"
saopaulo.loc[saopaulo["TP_DEPENDENCIA"] == 3, "TIPO_ESCOLA"] = "MUNICIPAL"
saopaulo.loc[saopaulo["TP_DEPENDENCIA"] == 4, "TIPO_ESCOLA"] = "PRIVADA"
saopaulo

C:\Users\rafae\AppData\Local\Temp\ipykernel_15936\659339318.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'FEDERAL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  saopaulo.loc[saopaulo["TP_DEPENDENCIA"] == 1, "TIPO_ESCOLA"] = "FEDERAL"

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,TP_SEXO,TP_COR_RACA,NOME_PAIS_CE,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA,GENERO,RACA_IBGE,TIPO_ESCOLA
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,2,1,AFEGANISTÃO,20,35001478,35,3550308,355030810.0,2,Feminino,BRANCA,ESTADUAL
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,1,1,AFEGANISTÃO,20,35134673,35,3550308,355030893.0,4,Masculino,BRANCA,PRIVADA
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,1,1,AFEGANISTÃO,27,35001659,35,3550308,355030810.0,2,Masculino,BRANCA,ESTADUAL
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,1,3,AFEGANISTÃO,1,35195561,35,3550308,355030808.0,4,Masculino,PARDA,PRIVADA
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,1,3,AFEGANISTÃO,26,35001659,35,3550308,355030810.0,2,Masculino,PARDA,ESTADUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,2,1,VENEZUELA,17,35001582,35,3550308,355030808.0,2,Feminino,BRANCA,ESTADUAL
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,2,4,VIETNÃ,27,35807813,35,3550308,355030890.0,4,Feminino,AMARELA,PRIVADA
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,2,3,VIETNÃ,18,35001478,35,3550308,355030810.0,2,Feminino,PARDA,ESTADUAL
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,1,4,VIETNÃ,26,35807813,35,3550308,355030890.0,4,Masculino,AMARELA,PRIVADA
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,1,1,ZÃMBIA,71,35003852,35,3550308,355030826.0,2,Masculino,BRANCA,ESTADUAL

In [13]:
# substituindo valores int para str referentes ao ano ou serie de estudo
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({1 : "EDUCACAO INFANTIL"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({2 : "EDUCACAO INFANTIL"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({14 : "1 ANO FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({15 : "2 ANO/1 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({4 : "2 ANO/1 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({16 : "3 ANO/2 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({5 : "3 ANO/2 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({17 : "4 ANO/3 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({6 : "4 ANO/3 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({18 : "5 ANO/4 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({7 : "5 ANO/4 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({19 : "6 ANO/5 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({8 : "6 ANO/5 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({20 : "7 ANO/6 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({9 : "7 ANO/6 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({21 : "8 ANO/7 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({10 : "8 ANO/7 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({41 : "9 ANO/8 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({11 : "9 ANO/8 SERIE FUND"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({25 : "1 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({35 : "1 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({26 : "2 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({36 : "2 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({27 : "3 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({37 : "3 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({28 : "4 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({38 : "4 EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({29 : "MEDIO NAO ESPECIFICADO"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({30 : "EM E TECNICO INTEGRADO"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({31 : "EM E TECNICO INTEGRADO"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({32 : "EM E TECNICO INTEGRADO"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({33 : "EM E TECNICO INTEGRADO"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({34 : "EM E TECNICO INTEGRADO"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({39 : "TECNICO CONCOMITANTE"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({40 : "TECNICO SUBSEQUENTE"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({43 : "EJA FUND I"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({46 : "EJA FUND I"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({44 : "EJA FUND II"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({47 : "EJA FUND II"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({45 : "EJA EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({48 : "EJA EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({67 : "EJA EM"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({60 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({61 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({62 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({63 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({65 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({69 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({70 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({71 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({72 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({73 : "EJA OUTROS"})
saopaulo["TP_ETAPA_ENSINO"] = saopaulo['TP_ETAPA_ENSINO'].replace({74 : "EJA OUTROS"})
saopaulo

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,TP_SEXO,TP_COR_RACA,NOME_PAIS_CE,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA,GENERO,RACA_IBGE,TIPO_ESCOLA
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,2,1,AFEGANISTÃO,7 ANO/6 SERIE FUND,35001478,35,3550308,355030810.0,2,Feminino,BRANCA,ESTADUAL
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,1,1,AFEGANISTÃO,7 ANO/6 SERIE FUND,35134673,35,3550308,355030893.0,4,Masculino,BRANCA,PRIVADA
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,1,1,AFEGANISTÃO,3 EM,35001659,35,3550308,355030810.0,2,Masculino,BRANCA,ESTADUAL
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,1,3,AFEGANISTÃO,EDUCACAO INFANTIL,35195561,35,3550308,355030808.0,4,Masculino,PARDA,PRIVADA
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,1,3,AFEGANISTÃO,2 EM,35001659,35,3550308,355030810.0,2,Masculino,PARDA,ESTADUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,2,1,VENEZUELA,4 ANO/3 SERIE FUND,35001582,35,3550308,355030808.0,2,Feminino,BRANCA,ESTADUAL
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,2,4,VIETNÃ,3 EM,35807813,35,3550308,355030890.0,4,Feminino,AMARELA,PRIVADA
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,2,3,VIETNÃ,5 ANO/4 SERIE FUND,35001478,35,3550308,355030810.0,2,Feminino,PARDA,ESTADUAL
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,1,4,VIETNÃ,2 EM,35807813,35,3550308,355030890.0,4,Masculino,AMARELA,PRIVADA
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,1,1,ZÃMBIA,EJA OUTROS,35003852,35,3550308,355030826.0,2,Masculino,BRANCA,ESTADUAL

In [14]:
# excluindo as colunas com os valores nao traduzidos e que ja nao sao mais necessarios por conta da traducao
columns_drop = ["TP_SEXO", "TP_COR_RACA", "CO_ENTIDADE", "CO_UF", "CO_MUNICIPIO", "CO_DISTRITO", "TP_DEPENDENCIA"]
saopaulo = saopaulo.drop(columns_drop, axis=1)
saopaulo

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,NOME_PAIS_CE,TP_ETAPA_ENSINO,GENERO,RACA_IBGE,TIPO_ESCOLA
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,AFEGANISTÃO,7 ANO/6 SERIE FUND,Feminino,BRANCA,ESTADUAL
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,AFEGANISTÃO,7 ANO/6 SERIE FUND,Masculino,BRANCA,PRIVADA
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,AFEGANISTÃO,3 EM,Masculino,BRANCA,ESTADUAL
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,AFEGANISTÃO,EDUCACAO INFANTIL,Masculino,PARDA,PRIVADA
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,AFEGANISTÃO,2 EM,Masculino,PARDA,ESTADUAL
...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,VENEZUELA,4 ANO/3 SERIE FUND,Feminino,BRANCA,ESTADUAL
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,VIETNÃ,3 EM,Feminino,AMARELA,PRIVADA
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,VIETNÃ,5 ANO/4 SERIE FUND,Feminino,PARDA,ESTADUAL
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,VIETNÃ,2 EM,Masculino,AMARELA,PRIVADA
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,ZÃMBIA,EJA OUTROS,Masculino,BRANCA,ESTADUAL

In [15]:
# Nova coluna com a idade adequada para cada ano ou serie segundo UNICEF (2018)
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "1 ANO FUND", "IDADE ADEQUADA"] = 6
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "2 ANO/1 SERIE FUND", "IDADE ADEQUADA"] = 7
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "3 ANO/2 SERIE FUND", "IDADE ADEQUADA"] = 8
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "4 ANO/3 SERIE FUND", "IDADE ADEQUADA"] = 9
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "5 ANO/4 SERIE FUND", "IDADE ADEQUADA"] = 10
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "6 ANO/5 SERIE FUND", "IDADE ADEQUADA"] = 11
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "7 ANO/6 SERIE FUND", "IDADE ADEQUADA"] = 12
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "8 ANO/7 SERIE FUND", "IDADE ADEQUADA"] = 13
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "9 ANO/8 SERIE FUND", "IDADE ADEQUADA"] = 14
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "1 EM", "IDADE ADEQUADA"] = 15
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "2 EM", "IDADE ADEQUADA"] = 16
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "3 EM", "IDADE ADEQUADA"] = 17
saopaulo.loc[saopaulo["TP_ETAPA_ENSINO"] == "4 EM", "IDADE ADEQUADA"] = 18
saopaulo

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,NOME_PAIS_CE,TP_ETAPA_ENSINO,GENERO,RACA_IBGE,TIPO_ESCOLA,IDADE ADEQUADA
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,AFEGANISTÃO,7 ANO/6 SERIE FUND,Feminino,BRANCA,ESTADUAL,12.0
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,AFEGANISTÃO,7 ANO/6 SERIE FUND,Masculino,BRANCA,PRIVADA,12.0
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,AFEGANISTÃO,3 EM,Masculino,BRANCA,ESTADUAL,17.0
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,AFEGANISTÃO,EDUCACAO INFANTIL,Masculino,PARDA,PRIVADA,NaN
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,AFEGANISTÃO,2 EM,Masculino,PARDA,ESTADUAL,16.0
...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,VENEZUELA,4 ANO/3 SERIE FUND,Feminino,BRANCA,ESTADUAL,9.0
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,VIETNÃ,3 EM,Feminino,AMARELA,PRIVADA,17.0
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,VIETNÃ,5 ANO/4 SERIE FUND,Feminino,PARDA,ESTADUAL,10.0
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,VIETNÃ,2 EM,Masculino,AMARELA,PRIVADA,16.0
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,ZÃMBIA,EJA OUTROS,Masculino,BRANCA,ESTADUAL,NaN

In [16]:
# Nova coluna com status de idade e serie como adequada ou distorcida, comparando coluna idade da pessoa estudante e coluna de idade adequada
saopaulo.loc[saopaulo["NU_IDADE"] == saopaulo["IDADE ADEQUADA"], "STATUS"] = "ADEQUADA"
saopaulo.loc[saopaulo["NU_IDADE"] < saopaulo["IDADE ADEQUADA"], "STATUS"] = "DISTORCIDA"
saopaulo.loc[saopaulo["NU_IDADE"] > saopaulo["IDADE ADEQUADA"], "STATUS"] = "DISTORCIDA"

saopaulo

C:\Users\rafae\AppData\Local\Temp\ipykernel_15936\3326102821.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'ADEQUADA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  saopaulo.loc[saopaulo["NU_IDADE"] == saopaulo["IDADE ADEQUADA"], "STATUS"] = "ADEQUADA"

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,NOME_PAIS_CE,TP_ETAPA_ENSINO,GENERO,RACA_IBGE,TIPO_ESCOLA,IDADE ADEQUADA,STATUS
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,AFEGANISTÃO,7 ANO/6 SERIE FUND,Feminino,BRANCA,ESTADUAL,12.0,ADEQUADA
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,AFEGANISTÃO,7 ANO/6 SERIE FUND,Masculino,BRANCA,PRIVADA,12.0,DISTORCIDA
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,AFEGANISTÃO,3 EM,Masculino,BRANCA,ESTADUAL,17.0,DISTORCIDA
3,26DE609CE36B7388C460ED67FEC3C570,431164426,10,2017,3,AFEGANISTÃO,EDUCACAO INFANTIL,Masculino,PARDA,PRIVADA,NaN,NaN
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,AFEGANISTÃO,2 EM,Masculino,PARDA,ESTADUAL,16.0,DISTORCIDA
...,...,...,...,...,...,...,...,...,...,...,...,...
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,VENEZUELA,4 ANO/3 SERIE FUND,Feminino,BRANCA,ESTADUAL,9.0,ADEQUADA
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,VIETNÃ,3 EM,Feminino,AMARELA,PRIVADA,17.0,ADEQUADA
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,VIETNÃ,5 ANO/4 SERIE FUND,Feminino,PARDA,ESTADUAL,10.0,ADEQUADA
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,VIETNÃ,2 EM,Masculino,AMARELA,PRIVADA,16.0,ADEQUADA
18625,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,28,ZÃMBIA,EJA OUTROS,Masculino,BRANCA,ESTADUAL,NaN,NaN

In [17]:
# verificacao de dados nulos apos o tratamento e diagnosticacao do status de adequada ou distorcida
saopaulo.isnull().sum()

ID_ALUNO              0
ID_MATRICULA          0
NU_MES                0
NU_ANO                0
NU_IDADE              0
NOME_PAIS_CE          0
TP_ETAPA_ENSINO       0
GENERO                0
RACA_IBGE             0
TIPO_ESCOLA           0
IDADE ADEQUADA     5755
STATUS             5755
dtype: int64

In [18]:
# filtrando a coluna de status apenas com string adequada ou distorcida. Sao os dados relevantes para a analise
saopaulo = saopaulo[saopaulo["STATUS"].str.contains("ADEQUADA|DISTORCIDA", na=False)]
saopaulo

,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE,NOME_PAIS_CE,TP_ETAPA_ENSINO,GENERO,RACA_IBGE,TIPO_ESCOLA,IDADE ADEQUADA,STATUS
0,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12,AFEGANISTÃO,7 ANO/6 SERIE FUND,Feminino,BRANCA,ESTADUAL,12.0,ADEQUADA
1,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13,AFEGANISTÃO,7 ANO/6 SERIE FUND,Masculino,BRANCA,PRIVADA,12.0,DISTORCIDA
2,A762D20ABFE8C03C97CE345CF855E6F8,414081553,4,2002,18,AFEGANISTÃO,3 EM,Masculino,BRANCA,ESTADUAL,17.0,DISTORCIDA
4,D79A4162F2687C80E389DF7C10E474FF,414082467,9,2003,17,AFEGANISTÃO,2 EM,Masculino,PARDA,ESTADUAL,16.0,DISTORCIDA
5,34B09C8E99A9F5027C3B02D44D7E54C5,414085684,8,2003,17,AFEGANISTÃO,2 EM,Masculino,NAO DECLARADA,ESTADUAL,16.0,DISTORCIDA
...,...,...,...,...,...,...,...,...,...,...,...,...
18620,1D8500B007A8A0BACC1B8D04A1CC2D28,414064686,6,2012,8,VENEZUELA,2 ANO/1 SERIE FUND,Feminino,NAO DECLARADA,ESTADUAL,7.0,DISTORCIDA
18621,A583A4FC5A33976091C57D6E8B4433E2,415185943,11,2011,9,VENEZUELA,4 ANO/3 SERIE FUND,Feminino,BRANCA,ESTADUAL,9.0,ADEQUADA
18622,CAE4834A28DAD4548B9511298D67784E,451614992,2,2003,17,VIETNÃ,3 EM,Feminino,AMARELA,PRIVADA,17.0,ADEQUADA
18623,AD1B274A20CAB794DB944DC02DCE69E2,414073623,1,2010,10,VIETNÃ,5 ANO/4 SERIE FUND,Feminino,PARDA,ESTADUAL,10.0,ADEQUADA
18624,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,16,VIETNÃ,2 EM,Masculino,AMARELA,PRIVADA,16.0,ADEQUADA

# Base final

In [19]:
# exportando o csv de base final para o projeto
saopaulo.to_csv("saopaulo.csv", index=False)

In [20]:
# agrupando estudantes por países
agrupar_pais = saopaulo.groupby("NOME_PAIS_CE")
paises = agrupar_pais["ID_ALUNO"].count()

print(paises)

NOME_PAIS_CE
AFEGANISTÃO            6
ALBÃNIA                4
ALEMANHA               82
ANGOLA                548
ANTÃGUA E BARBUDA      1
                     ...
VIETNÃ                 3
ÃFRICA DO SUL         42
ÃUSTRIA                3
ÃLAND, ILHAS           4
ÃNDIA                 41
Name: ID_ALUNO, Length: 133, dtype: int64