# Tratamento inicial
O presente notebook mostra como foi feito o tratamento inicial da database retirada do Portal de Imigração do INEP.
Decidi por filtrar a base de dados para o estado de SP pois a análise do Brasil inteiro, além de trabalhosa, demandaria muito da máquina que utilizo para fazer o projeto.
Posteiormente, filtrei também o ano do reporte dos dados para o mais recente, que é o ano de 2020

In [1]:
# primeiro importando o pandas
import pandas as pd

In [16]:
# lendo o csv retirado do portal de imigraçao (link no md)
df = pd.read_csv("INEP.csv", sep = ";", encoding="latin-1")
df

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,NOME_PAIS_CE,CO_UF_END,CO_MUNICIPIO_END,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
0,2010,118662469760,26855580,5,1999,NaN,11,1,1,3,ABISSÍNIA,NaN,x,19,35100473,35,3550308,NaN,4
1,2010,118378573345,44627491,6,1993,NaN,17,1,0,3,ABISSÍNIA,41.0,x,27,41123832,41,4101804,NaN,4
2,2010,114611341029,17361608,12,1998,NaN,12,1,4,3,ABISSÍNIA,NaN,x,19,35104673,35,3550308,NaN,4
3,2010,121294940138,42201158,12,1970,NaN,40,2,0,3,ABISSÍNIA,15.0,x,43,15574156,15,1501402,NaN,2
4,2010,121874891167,39967203,1,1995,NaN,15,2,1,3,ABISSÍNIA,NaN,x,25,26530775,26,2611606,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770607,2015,127445496652,112503851,9,2005,9.0,10,1,1,3,NaN,41.0,x,17,41610890,41,4106902,410690205.0,4
770608,2020,BEBC972CA5ABE7CF7A68ABC1CB0340E2,447052905,11,2000,19.0,20,1,2,3,NaN,NaN,x,27,31001406,31,3106200,310620025.0,2
770609,2015,111572444591,159842315,12,1989,25.0,26,1,4,3,NaN,35.0,x,71,35255476,35,3550308,355030862.0,4
770610,2015,128272231980,157950042,6,2012,2.0,3,1,0,3,NaN,NaN,x,1,23251786,23,2304400,230440005.0,4
770611,2015,127656166202,120097838,7,2006,8.0,9,2,0,3,NaN,27.0,x,15,27218180,27,2704302,270430205.0,4

In [17]:
# verificando informações gerais sobre a base de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770612 entries, 0 to 770611
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   NU_ANO_CENSO         770612 non-null  int64
 1   ID_ALUNO             770612 non-null  object
 2   ID_MATRICULA         770612 non-null  int64
 3   NU_MES               770612 non-null  int64
 4   NU_ANO               770612 non-null  int64
 5   NU_IDADE_REFERENCIA  630437 non-null  float64
 6   NU_IDADE             770612 non-null  int64
 7   TP_SEXO              770612 non-null  int64
 8   TP_COR_RACA          770612 non-null  int64
 9   TP_NACIONALIDADE     770612 non-null  int64
 10  NOME_PAIS_CE         770606 non-null  object
 11  CO_UF_END            469459 non-null  float64
 12  CO_MUNICIPIO_END     469784 non-null  object
 13  TP_ETAPA_ENSINO      770612 non-null  int64
 14  CO_ENTIDADE          770612 non-null  int64
 15  CO_UF                770612 non-null  int64
 16  CO_MUNICIPIO         770612 non-null  int64
 17  CO_DISTRITO          729380 non-null  float64
 18  TP_DEPENDENCIA       770612 non-null  int64
dtypes: float64(3), int64(13), object(3)
memory usage: 111.7+ MB

In [25]:
# importando numpy caso necessario
import numpy as np

In [30]:
# filtrando dadis aoebas do estado de SP. Segundo o IBGE, o codigo de SP é 35
sp = df.query("CO_UF in [35]")
sp

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,NOME_PAIS_CE,CO_UF_END,CO_MUNICIPIO_END,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
0,2010,118662469760,26855580,5,1999,NaN,11,1,1,3,ABISSÍNIA,NaN,x,19,35100473,35,3550308,NaN,4
2,2010,114611341029,17361608,12,1998,NaN,12,1,4,3,ABISSÍNIA,NaN,x,19,35104673,35,3550308,NaN,4
7,2010,118662507602,26855918,10,1996,NaN,14,1,4,3,ABISSÍNIA,NaN,x,21,35100473,35,3550308,NaN,4
12,2010,120928909211,31678118,6,1995,NaN,15,2,4,3,AÇORES,NaN,NaN,21,35103433,35,3550308,NaN,4
13,2010,118503835532,32868406,7,1996,NaN,14,1,1,3,AÇORES,NaN,NaN,21,35080925,35,3525300,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770529,2019,7510792E692F887ED010D9B4993D2563,343987766,10,2003,15.0,16,2,2,3,ZÂMBIA,NaN,x,25,35004191,35,3510609,351060905.0,2
770533,2020,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,27.0,28,1,1,3,ZÂMBIA,NaN,x,71,35003852,35,3550308,355030826.0,2
770544,2020,CAE3DF9B0297546377AA84BA5CEE5782,419126681,10,2003,16.0,17,2,2,3,ZÂMBIA,NaN,x,26,35004191,35,3510609,351060905.0,2
770567,2012,123583845349,48720107,12,1988,NaN,24,1,2,3,ZIMBÁBUE,35.0,x,47,35453572,35,3521804,5.0,2
770609,2015,111572444591,159842315,12,1989,25.0,26,1,4,3,NaN,35.0,x,71,35255476,35,3550308,355030862.0,4

In [31]:
# filtrando o que é de SP mas também apenas reportado pelo Censo 2020
sp_2020 = sp.query("NU_ANO_CENSO in [2020]")
sp_2020

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,NOME_PAIS_CE,CO_UF_END,CO_MUNICIPIO_END,TP_ETAPA_ENSINO,CO_ENTIDADE,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA
100,2020,F65A3DA6A6AEF9382AA8879D15EE490A,424505115,10,2014,5.0,6,2,1,3,AFEGANISTÃO,NaN,NaN,2,35086460,35,3509502,350950205.0,3
117,2020,75A0859050C034BB325B29217035D8CA,414074016,4,2008,12.0,12,2,1,3,AFEGANISTÃO,NaN,NaN,20,35001478,35,3550308,355030810.0,2
135,2020,F3657B755F8F52584F767D4E1888A5C4,438759603,3,2016,4.0,4,2,1,3,AFEGANISTÃO,NaN,NaN,2,35097317,35,3534401,353440105.0,3
140,2020,A867FEA170F7D4231B8DE29C1A05B94F,396743556,4,2007,13.0,13,1,1,3,AFEGANISTÃO,35.0,x,20,35134673,35,3550308,355030893.0,4
159,2020,A0DFE4B45BE89C3383EE92F3312C4BDC,424506835,2,2015,5.0,5,2,2,3,AFEGANISTÃO,NaN,NaN,2,35086460,35,3509502,350950205.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770475,2020,FA0C3F55990095D5E6C2D2B9FDC13174,442744551,7,1972,47.0,48,2,0,3,VIETNÃ,NaN,NaN,40,35148805,35,3509502,350950205.0,4
770489,2020,E65B0C7FD1390661B0837A1A671B331B,451602935,7,2004,15.0,16,1,4,3,VIETNÃ,NaN,NaN,26,35807813,35,3550308,355030890.0,4
770494,2020,F73A0548FB9C5AA5E902CA545B03FEAE,442744575,3,1981,39.0,39,2,0,3,VIETNÃ,NaN,NaN,40,35148805,35,3509502,350950205.0,4
770533,2020,D8C78B1ECB76C7D3EA44434C609AB18E,414100715,12,1992,27.0,28,1,1,3,ZÂMBIA,NaN,x,71,35003852,35,3550308,355030826.0,2
770544,2020,CAE3DF9B0297546377AA84BA5CEE5782,419126681,10,2003,16.0,17,2,2,3,ZÂMBIA,NaN,x,26,35004191,35,3510609,351060905.0,2

In [32]:
# exportando o CSV para tratamento mais aprofundado
sp_2020.to_csv("SP_INEP.csv", index=False)